<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="arrow-round-back" (click)="redirectSelic()"></ion-icon>
            Simulação de Investimento
        </ion-title>
    </ion-toolbar>
</ion-header>

<ng-container *ngIf="dataInfo; else elseTemplate">
    <ion-content>

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle><strong>Tesouro Selic</strong></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <p>Renda Total: <strong>{{dataInfo[0] + dataInfo[1] | currency:"BRL":true:"1.2"}}</strong></p>
                <p>Total Aplicado: <strong>{{dataInfo[0] | currency:"BRL":true:"1.2"}}</strong></p>
                <p>Lucro - Juros Composto: <strong>{{dataInfo[1] | currency:"BRL":true:"1.2"}}</strong></p>
                <p>Menor Imposto de Renda Atribuído (1° Parcela): <strong>{{dataInfo[3]}}</strong></p>
                <p>Renda Último Mês: <strong>{{dataInfo[4] | currency:"BRL":true:"1.2"}}</strong></p>
                <p>Renda Total com Imposto de Renda: <strong>{{dataInfo[0] + dataInfo[2] | currency:"BRL":true:"1.2"}}</strong></p>
            </ion-card-content>
        </ion-card>

    </ion-content>
</ng-container>
<ng-template #elseTemplate>
    <p>Preencha os dados na primeira Tab!</p>
</ng-template>
