<ion-header>
    <ion-toolbar>
        <ion-title>
            Tab Two
        </ion-title>
    </ion-toolbar>
</ion-header>

<ng-container *ngIf="dataInfo; else elseTemplate">
    <ion-content color="medium">

        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Tesouro Selic</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <p>Renda Total: {{dataInfo[0] + dataInfo[1] | currency:"BRL":true:"1.2"}}</p>
                <p>Total Aplicado: {{dataInfo[0] | currency:"BRL":true:"1.2"}}</p>
                <p>Lucro - Juros Composto: {{dataInfo[1] | currency:"BRL":true:"1.2"}}</p>
                <p>Menor Imposto de Renda Atribuído (1° Parcela): {{dataInfo[3]}}</p>
                <p>Renda Último Mês: {{dataInfo[4] | currency:"BRL":true:"1.2"}}</p>
                <p>Renda Total com Imposto de Renda: {{dataInfo[0] + dataInfo[2] | currency:"BRL":true:"1.2"}}</p>
            </ion-card-content>
        </ion-card>

    </ion-content>
</ng-container>
<ng-template #elseTemplate>
    <p>Preencha os dados na primeira Tab!</p>
</ng-template>
