<ion-header>
    <ion-toolbar>
        <ion-title>
            Simulação de Investimento
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="shade">
    <ion-card color="light">
        <ion-card-header>
            <ion-card-subtitle>Tesouro SELIC</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <ion-item color="light">
                    <ion-label position="stacked">Investimento Mensal</ion-label>
                    <ion-input placeholder="Quanto pretende investir mensalmente?" type="tel" [(ngModel)]="parcelas" name="parcelas"></ion-input>
                </ion-item>
                <!-- <ion-item>
                    <ion-label position="stacked">Taxa Mensal</ion-label>
                    <ion-input placeholder="A taxa mensal do investimento" type="tel" [(ngModel)]="taxaMensal" name="taxaMensal"></ion-input>
                </ion-item> -->
                <!-- <ion-item>
                    <ion-label position="stacked">Taxa Imposto de Renda</ion-label>
                    <ion-input placeholder="Taxa do Imposto de Renda" type="tel" [(ngModel)]="ir" name="ir"></ion-input>
                </ion-item> -->
                <ion-item color="light">
                    <ion-label position="stacked">Tempo Investindo (em meses)</ion-label>
                    <ion-input placeholder="Por quanto tempo quer investir esse valor? Em meses" type="tel" [(ngModel)]="tempo" name="tempo"></ion-input>
                </ion-item>
                    <ion-button type="submit" color="primary" class="btn-full">Simular!</ion-button>
            </form>
        </ion-card-content>
    </ion-card>
<!-- 
    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>ion-item in a card, icon left, button right</ion-label>
            <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>

        <ion-card-content>
            This is content, without any paragraph or header tags,
            within an ion-card-content element.
        </ion-card-content>
    </ion-card> -->
    
</ion-content>
